fastapi
uvicorn
pydantic
gunicorn  # Optional, for production deployments
apache-airflow
apache-airflow-client
boto3
sqlalchemy # Ensuring compatibility with Airflow
snowflake-sqlalchemy
snowflake-connector-python
